/**************
 Header Styles
***************/
.header {
    background-color: #2ECC40;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.header h1, .header h1 a {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;

}

/*****************
 Navigation Styles
******************/

ul.nav-menu {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav-menu li {
    float: left;
}

ul.nav-menu li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.nav-menu li a:hover {
    background-color: #333;
}

/*************
 Table styles
**************/

.table{
    display:table;
    border:1px solid  #666666;
    border-spacing:5px;
}

.table-row{
    display:table-row;
    width:auto;
    clear:both;
}

.table-col{
    float:left;
    display:table-column;
    width:200px;
}

.account-table {
    margin: 30px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*************
 Messages
**************/

ul.messages {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    list-style-type: none;
    color: #006400
}

ul.errorlist {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    list-style-type: none;
    color: #ff0000;
}

/*************
 Forms
**************/

#payment-form {
    margin: 30px 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}