{% extends 'payments/base.html' %}


{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="table">
    <div class="table-row">
        <div class="table-col">Account Number</div>
        <div class="table-col">Account Holder</div>
        <div class="table-col">Balance</div>
        <div class="table-col">View Transactions</div>
    </div>
    {% for account in accounts %}
    <div class="table-row">
        <div class="table-col">{{ account.account_number }}</div>
        <div class="table-col">{{ account.first_name }} {{ account.last_name }}</div>
        <div class="table-col">{{ account.balance }}</div>
        <div class="table-col">
            <button class="view-transactions" data-account_number="{{ account.account_number }}" type="button">View</button>
        </div>
    </div>
        <div id="transactions_{{ account.account_number }}" class="transaction_list"></div>
    {% endfor %}
</div>

{% endblock %}